@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*나눔스퀘어라운드 폰트*/
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}/*수트 폰트*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #bc92c2;
    font-family: 'NanumSquareRound';
}

ul {
    list-style: none;
}

body {
    font-family: 'SUIT';
    font-size: 17px;
    line-height: 24px;
    color: #000;
    min-width: 1320px;
    background-color: #fef9ff;
}

/*스크롤바*/
body::-webkit-scrollbar {/*스크롤바 전체*/
    width: 12px;
  }
  body::-webkit-scrollbar-thumb {/*스크롤바 막대*/
    background-color: #b564b674;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  body::-webkit-scrollbar-track {/*스크롤바 막대 외부*/
    background-color: rgb(185, 167, 198);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

  /*마우스 커서*/
  html { cursor: none; }
#drawing_line { position: relative; z-index: 2100; height: 0; }
#drawing_line > svg { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2100; pointer-events: none; }
#drawing_line > svg .drawing_line_polyline { fill: none; stroke: #ffd5005b; stroke-width: 2; }
#drawing_line > svg .drawing_line_circle { fill: #ffd0009c; }


/*헤더*/
#header {
    background-color: #fef9ff;
    height: 107px;
    position: fixed;/*서브메뉴의 기준*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
}

/*헤더 가운데창*/
.header_inner {
    width: 1320px;
    height: 107px;
    margin: auto;
    /*position: relative;
    로고 가운데 기준 (서브메뉴넣어야해서 뺌)*/
}
.nav{
  float: right;
}
.nav li{
  float: left;
}

/*네비*/

.header_inner .nav li:nth-child(2){
  margin-right: 781px;
} /*구독네비 오른쪽에 margin 넣음*/

.nav> li> a{
  font-weight: bold;
  font-size: 18px;
  display: block;
  padding: 48px 25px 50px;
}

.nav>li>a:hover{
  color: rgb(159, 90, 161);
}

/* 서브메뉴 꾸미기 */
.sub{
  position: absolute;/*헤더가 기준*/
  width: 100%;
  left: 0;
  top: 107px;
  z-index: 10;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fef9ff+0,ffffff+100&1+35,0.45+80,0+100 */
background: -moz-linear-gradient(top,  rgba(254,249,255,1) 0%, rgba(254,251,255,1) 35%, rgba(255,254,255,0.45) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,249,255,1) 0%,rgba(254,251,255,1) 35%,rgba(255,254,255,0.45) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,249,255,1) 0%,rgba(254,251,255,1) 35%,rgba(255,254,255,0.45) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9ff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
display: none;/*서브메뉴 안보이게 만들기*/
}
.sub div{
  width: 1320px;
  height: 200px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative; /*서브메뉴 형광펜효과 기준*/
}

/*서브메뉴 텍스트 배치*/
.sub_b1{
  margin-left: 23px;
  margin-top: -10px;
}
.sub_b2{
  margin-left: -116px;
  margin-top: 34px;
}
.sub_b3{
  margin-left: -905px;
  margin-top: 83px;
}
.sub_c1{
  margin-left: 1090px;
  margin-top: -10px;
}
.sub_c2{
  margin-left: 1090px;
  margin-top: 16px;
}
.sub_c3{
  margin-left: 1090px;
  margin-top: 23px;
}

/*서브메뉴 형광펜 효과*/
.sub1 span{
  display: inline-block;
  width: 130px;
  height: 25px;
  background-color: rgba(234, 200, 255, 0.493);
  position: absolute;
  left: 20px;
  z-index: -1;/*글자 뒤로 이동*/
  transform: scaleX(0);/*배경 길이 없애기*/
  transform-origin: left;/*배경 길이의 기준점을 왼쪽으로 두기*/
  transition: all 1s;
}
.sub1 li:hover span{
  transform: scaleX(1);/*배경 길이 나타나게 만들기*/
}

.sub2 span{
  display: inline-block;
  width: 120px;
  height: 25px;
  background-color: rgba(234, 200, 255, 0.493);
  position: absolute;
  left: 1085px;
  z-index: -1;/*글자 뒤로 이동*/
  transform: scaleX(0);/*배경 길이 없애기*/
  transform-origin: left;/*배경 길이의 기준점을 왼쪽으로 두기*/
  transition: all 1s;
}
.sub2 li:hover span{
  transform: scaleX(1);/*배경 길이 나타나게 만들기*/
}
/* 서브메뉴 보이게 만들기 - 제이쿼리에서 해주기
.nav li:hover .sub{
  display: block;
}*/



/*로고*/
.logo {
    position: absolute;
    /*로고 가운데*/
    left: 50%;
    top: 50%;
    margin-left: -29.5px;
    /*사진 너비 크기의 반만큼 마이너스*/
    margin-top: -38.5px;
    /*사진 높이 크기의 반만큼 마이너스*/
    z-index: 3;
}



/*로고 호버*/
.header_inner a:hover img {
    animation: logo 0.6s linear infinite;
}

/*로고 애니메이션*/
@keyframes logo {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/*마이페이지&장바구니*/
.right{
  position: relative;
  top: 0;
  left: 0;
}
.right_icon{
    position: absolute;
    top: 35px;
    right: -212px;
    margin: auto;
    z-index: 100;
}
.right_icon a{
    padding-left: 10px;
}
.my{
  width: 23px;
  height: 26px;
}
.shopping{
  width: 28px;
  height: 25px;
}

/* 반응형 메뉴 */
@media (max-width:1650px){
  .header_inner{
    width: 100%;
  }
  .nav{
    float: left;
    width: 90%;
  }
  .right{
    width: 10%;
    float: right;
  }
  .right_icon{
    position: static;
    margin-top: 35px;
  }
  .nav> li{
    width: 15%;
    text-align: center;
  }
  .nav> li> a{
    padding: 48px 0px 50px;
  }
  .header_inner .nav li:nth-child(2) {
    margin-right: 40%;
  }
}

/* 탑버튼 */
.top_button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99;
}

/*브랜드 디자인 영상배경*/
#design {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}
.b_design{
  text-align: center;
}

/*타이틀*/
.d_text{
    position: relative;
    mix-blend-mode: overlay;
    width: 1320px;
    height: 1560px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 767px;
}
.d_text .title{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    
}
.title h1{
    font-family: 'NanumSquareRound';
    font-size: 100px;
    font-weight: bold;
    color: #2e2126;
    margin-bottom: 122px;
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.title h4{
    font-size: 18px;
    font-weight: 400;
    letter-spacing :1px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
  }
.title .b_arrow{
    -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    
  }

  /*흔들리는 애니메이션*/
@-webkit-keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }

  /*글자 페이드 애니메이션*/
  @-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


/*회전하는 텍스트*/
.rotation{
    animation: rotation 5s linear infinite;
    margin-left: -342px;
  }
  @keyframes rotation {
    0% {
        transform: rotate(0);
    }
  
    100% {
        transform: rotate(360deg);
    }
  }

  /*디자인 컨셉 내용*/
  .t_content{
    position: absolute;
    text-align: center;
    top: 1000px;
    left: 340px;
  }
  .t_content h6{
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
  }
  .t_content h1{
    font-family: 'NanumSquareRound';
    font-weight: bold;
    margin: 20px 0 100px;
    color: #000000;
  }
  .t_content p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 50px;
    letter-spacing: 2px;
    background-color: #060606;
    padding: 20px;
    box-shadow: 5px 10px 30px 30px #060606;
  }


  /*로고 디자인*/
  .logo_design{/*로고디자인 전체창*/
    position: relative;
    mix-blend-mode: overlay;
    width: 100%;
    height: 1560px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 200px;
    mix-blend-mode: normal;
    background: url(.././../images/Brand/Grid.png) no-repeat top 20% left 50%
     #fef9ff;
     text-align: center;
  }
  .logo_design_inner{/*로고디자인 가운데창*/
    width: 1320px;
    text-align: center;
    margin: auto;
  }

  .logo_mark{/*로고 마크*/
    margin-top: 82px;
  }
  .logo_design_inner h1{
    font-family: 'NanumSquareRound';
    font-size: 38px;
    color: #6c4583;
    text-transform: uppercase;
    margin-top: 41px;
    margin-bottom: 67px;
  }
  .logo_design_inner h5{
    font-size: 22px;
    color: #6c4583;
    text-transform: uppercase;
  }
  .logo_c{/*c 위치*/
    position: absolute;
    top: 21.9%;
    left: 45.7%;
  }
  .logo_c img:nth-child(2){/*c 화살표 위치*/
    position: absolute;
    top: -32px;
    left: 89px;
  }
  .logo_t{/*t 위치*/
    position: absolute;
    top: 29.3%;
    left: 45.7%;
  }
  .logo_t img:nth-child(2){/*t 화살표 위치*/
    position: absolute;
    top: 14px;
    left: -251px;
  }

  .logo_o{/*o 위치*/
    position: absolute;
    top: 25.5%;
    left: 48.8%;
  }
  .logo_o img:nth-child(2){/*o 화살표 위치*/
    position: absolute;
    top: 92px;
    left: 166px;
  }
  .cantio_logo{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -202px;
  }

  /*로고 호버*/
  .logo_c:hover ~ .logo_o{ /*c 호버했을때 다른거 회색*/
    filter: grayscale(100%);
  }
  .logo_c:hover ~ .logo_t{
    filter: grayscale(100%);
  }

  .logo_t:hover + .logo_c{/*t 호버했을때 다른거 회색*/
    filter: grayscale(100%);
  }
  .logo_t:hover ~ .logo_o{
    filter: grayscale(100%);
  }

  .logo_o:hover  .logo_c{/*o 호버했을때 다른거 회색*/
    filter: grayscale(100%);
  }
  .logo_o:hover .logo_o{
    filter: grayscale(100%);
  }

  /*로고 나눈거 설명*/
.splintered{
    text-align: center;
    margin-top: 682px;
}
.splintered img:nth-child(1){
    margin-left: 71px;
}
.splintered img:nth-child(2){
    margin-left: 170px;
}
.splintered img:nth-child(3){
    margin-left: 195px;
}
.splintered p{
    margin-top: 106px;
    font-size: 18px;
    line-height: 35px;
}

/*브랜드 컬러*/
#b_color{
    width: 1320px;
    height: 100%;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -109px;
    overflow: hidden;
}
#b_color h1{
    margin-bottom: 104px;
    font-family: 'NanumSquareRound';
    font-size: 38px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 41px;
    margin-bottom: 67px;
}
.gooey{
    background: url(.././../images/Brand/color_pink.png) no-repeat;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 400px; height: 400px;
    animation: morph 3s linear infinite; 
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
    position: relative;
    z-index: 1;
    top: 50%;
    left: 15%;
  }
  .gooey img{
    
    padding: 30px;
  }
  .gooey1 img{
    margin-left: 720px;
    margin-top: 84px;
    box-shadow: 5px 10px 30px 10px #be90c3;
  }
  .gooey2 img{
    margin-left: -1315px;
    margin-top: 116px;
    box-shadow: 5px 10px 30px 10px #a878b3;
  }
  .gooey3 img{
    margin-left: 537px;
    margin-top: 54px;
    box-shadow: 5px 10px 30px 10px #9993bf;
  }
  .gooey2{
    background: url(.././../images/Brand/color_purple.png) no-repeat;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 380px; height: 420px;
    animation: morph 3.8s linear infinite; 
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
    position: relative;
    z-index: 1;
    opacity: 0.8;
    top: 20%;
    left: 50%;
  }
  .gooey3{
    background: url(.././../images/Brand/color_blue.png) no-repeat;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 400px; height: 300px;
    animation: morph 4.5s linear infinite; 
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
    position: relative;
    z-index: 1;
    opacity: 0.8;
    top: 20%;
    left: 15%;
  }

  .gooey:before,
  .gooey:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 500px; top: 500px;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
  }
  
  .gooey:before{
    animation: morph 3s linear infinite;
    opacity: .21;
    animation-duration: 1.5s;
  }
  
  .gooey:after{
    animation: morph 3s linear infinite;
    animation-delay: 400ms;
    opacity: .89;
    line-height: 120px;
    text-indent: -21px;
  }

  @keyframes morph{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      opacity: .89;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }
    @keyframes fadeIn{
    100%{
      transform: scale(1.03);
      opacity: 0;
    }
    }

    /*플렉시블*/
    .flexible{
    position: relative;
    width: 100%;
    height: 870px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: url(.././../images/Brand/flexible_bg.png) no-repeat center
    #aba0ce;
    }
.flexible img{
    width: 160px;
    position: absolute;
    top: 29%;
    left: 46.8%;
}

/*캐릭터 설명*/
.Character_text{
    width: 100%;
    height: 510px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -180px;
    overflow: hidden;
    background: #fef9ff;
}
.Character_text h1{
    margin-bottom: 104px;
    font-family: 'NanumSquareRound';
    font-size: 38px;
    color: #6c4583;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 67px;
}
.Character_text h2{
    font-family: 'NanumSquareRound';
    font-weight: bold;
    color: #4e4e4e;
    line-height: 45px;
    margin-bottom: 50px;
}
.Character_text h2 span{
    color: #fda102;
}
.Character_text p{
    color: #484848;
    line-height: 40px;
    font-weight: 600;
    font-size: 18px;
}

/*캐릭터*/
  .Character{
    width: 100%;
    height: 1539px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 309px;
    overflow: hidden;
    background:url(.././../images/Brand/character_bg.png) no-repeat top 80px center #766282 ;
    margin-bottom: -469px;
}
  .Character h2{
    font-family: 'NanumSquareRound';
    font-size: 16px;
    color: #c49000;
    text-transform: uppercase;
    margin-top: 150px;
    -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
	        animation: pulsate-bck 0.5s ease-in-out infinite both;
}

/*맥박 뛰는 애니메이션*/
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


  .Character div{
    width: 1320px;
}
.Character .moon{
    position: absolute;
    top: 259px;
    left: 50%;
    margin-left: -50px;
    animation: ani1 1s linear infinite alternate;
    opacity: 0.8;
}
.Character .moong{
    position: absolute;
    top: 394px;
    left: 50%;
    margin-left: -227px;
    animation: ani3 1s linear infinite alternate;
    opacity: 0.8;
}

/*캐릭터 호버*/
.Character .moon:hover{
  opacity: 1;
}
.Character .moong:hover{
  opacity: 1;
}
/*둥실 떠있는 애니메이션*/
@keyframes ani1{
  0%{top: 300px;}
  100%{top: 270px;}
}

@keyframes ani3{
  0%{top: 450px; margin-left: -227px;}
  100%{top: 420px; margin-left: -197px;}
}



/*푸터*/
.footer{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fef9ff+0,a46da7+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(254,249,255,0) 0%, rgba(164,109,167,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,249,255,0) 0%,rgba(164,109,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,249,255,0) 0%,rgba(164,109,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fef9ff', endColorstr='#a46da7',GradientType=0 ); /* IE6-9 */
min-width: 1320px;
margin-top: -853px;
position: relative;
z-index: 1;
}
.footer_inner{
  width: 1320px;
  height: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: -5px;
  color: #fff;
  
}

.f_logo{
  display: block;
}

.notice a{
  font-size: 14px;
  color: #fff;
  margin-right: 30px;
  position: relative;/*밑줄 기준*/
  padding-bottom: 10px;
}

.notice a span{
  display: inline-block; 
  width: 100%; /*밑줄 길이*/
  height: 2px; /*밑줄 두께*/
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);/*밑줄 길이 없애기*/
  transform-origin: left;/*밑줄 길이의 기준점을 왼쪽으로 두기*/
  transition: all 1s;
}
.notice a:hover span{
  transform: scaleX(1);/*밑줄 길이 나타나게 만들기*/
}

.notice{
  margin: 10px 0 20px 50px;
}
.footer_inner p{
  line-height: 24px;
  font-size: 13px;
}

.footer_inner ul li a{
  margin-left: 50px;
  color: #fff;
  font-size: 15px;
  font-family: 'SUIT';
  font-weight: 200;
}
.footer_margin{
  margin-top: 4px;
  margin-bottom: 10px;
}

.insatgram{
  opacity: 0.6;
  margin-right: 10px;
}
.insatgram:hover{
  opacity: 1;
}
.facebook{
  opacity: 0.6;
}
.facebook:hover{
  opacity: 1;
}

 /*고객센터 버튼 꾸미기*/
 .customer_service{
  color: #fff;
  font-size: 14px;
  font-family: 'SUIT';
  font-weight: 300;
  border: #fff 2px solid;
  border-radius: 50px;
  padding: 7px 15px;
  display: inline-block;
  position: relative;/*버블의 기준*/
  overflow: hidden;/*버튼 밖에 요소 안보이게 만들어줌*/
  transition: color 0.7s;/*글자색 서서히 변화되게 만들기*/
}

/*고객센터 버블만들기*/
.customer_service span{
  display: inline-block;
  width: 25%;/*100% 나누기 버블 갯수 만큼*/
  height: 100%;
  background-color: rgb(199, 103, 169);
  position: absolute;
  top: 110%;
  left: 0;
  border-radius: 50%;/*원형으로 만들기*/
  transition: all 0.7s;/*서서히 변하게 만들기*/
  z-index: -1;/*글자 뒤로 버블 보내기*/
}
.customer_servicea span:nth-child(1){
  left: 0;
  transition-delay: 0s;/*트랜지션 딜레이*/
}
.customer_service span:nth-child(2){
  left: 30%;
  transition-delay: 0.1s;
}
.customer_service span:nth-child(3){
  left: 60%;
  transition-delay: 0.2s;
}
.customer_service span:nth-child(4){
  left: 90%;
  transition-delay: 0.3s;
}

/*호버효과*/
.customer_service:hover{
  color: #fff;/*글자색 바꾸기*/
}
.customer_service:hover span{
  transform: scale(1.6, 1.6);
  top: 0;
}